* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.inactive {
  display: none;
}


/*Header*/
.contenedor-header {
  background: #000000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.contenedor-header header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 15px 20px;
}

.contenedor-header header .text-logo {
  font-family: "Phudu";
  font-size: 25px;
  text-decoration: none;
  color: #ffffff;
}
.titulo {
  font-size: 25px;
  font-family: "Phudu";
  color: #ffffff;
}

.contenedor-header header .text-logo:hover {
  animation: 3s;
  color: #dacdcd;
  cursor: default;
}
.contenedor-header header .titulo:hover {
  animation: 3s;
  color: #dacdcd;
  cursor: default;
}

.contenedor-header header a:hover {
  color: rgb(158, 43, 187);
}

.logo-text {
  font-family: "Righteous", cursive;
}
/*INICIO*/
.inicio {
  background: linear-gradient(
    135deg,
    #c49d8c,
    #9e572d,
    #974e23,
    #8d4934,
    #8d4934,
    #d97b45,
    #bfd1e7
  );
  background-size: cover;
  height: 107vh;
  display: flex;
  align-items: center;
}

.inicio .contenido {
  max-width: 800px;
  max-height: 650px;
  border-radius: 40px;
  margin: auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  min-width: 800px;
}


.contenedor-img{
    width: 450px;
}
.foto {
  width: 70%;
  display: block;
  border-radius: 100%;
  box-shadow: 1px 1px 100px;
  margin: 1px auto;
  border: 2px solid #ffffff;
  max-height: 1000px;
}

.inicio .contenido .links {
  display: flex;
  flex-direction: column;
  max-height: 410px;
  width: 10%;
}

.inicio .contenido .links .burbujas {
  color: white;
  display: block;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 62px;
  height: 62px;
  line-height: 42px;
  margin: 10px 4px;
  font-size: 20px;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 1px 5px 100px #000000;
  padding: 10px 0px;
  position: relative;
}

.inicio .contenido .links .burbujas:hover {
  background-color: #c49d8c;
}

#box2{
    width: 250px;
    border: 1px solid #ffffff;
    padding: 20px;
    color: #ffffff;
    font-family: Oswald;
    font-weight: 200;
    position: absolute;
    left: 245px;
  
}

.sb9{
  position: absolute;
  top: 154px;
}
.sb10{
  position: absolute;
  top: 235px;
}
.sb11{
  bottom: 189px;
}
.sb12{
  bottom: 111px;
}
.sb9:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid ;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  right: 100%;
}

.sb10:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid ;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  right: 100%;
}

.sb11:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid ;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  right: 100%;

}
.sb12:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid ;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  right: 100%;

}

.inicio .contenido .box2 span {
  font-weight: 500;
}

.sobremi {
  background-color: #000000;
  color: #fff;
  padding: 50px 20px;
}

.sobremi .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}

.sobremi h2 {
  font-size: 30px;
  font-family: "Phudu";
  font-weight: 500;
  text-align: center;
  padding: 20px 0;
}

.sobremi .contenido-seccion p {
  font-family: "Oswald";
  font-weight: 200;
  font: 18px;
  line-height: 22px;
  margin-bottom: 20px;
  text-align: center;
}

.sobremi .contenido-seccion p span {
  color: #974e23;
  font-weight: bold;
}

.sobremi .fila {
  display: flex;
}

.sobremi .fila .col {
  width: 50%;
}

.sobremi .fila .col h3 {
  font-size: 28px;
  font-family: "Phudu";
  font-weight: 400;
  margin-bottom: 25px;
}

.sobremi .fila .col ul {
  list-style: none;
}

.sobremi .fila .col ul li {
  font-family: "Oswald";
  font-weight: 200;
  margin: 12px 0;
}

.sobremi .fila .col ul li strong {
  font-family: "Oswald";
  font-weight: 500;
  display: inline-block;
  color: #bfd1e7;
  width: 130px;
}

.sobremi .fila .col .contenedor-habilidades {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-between;
  margin: 50px;
}

.sobremi .col .contenedor-habilidades .habilidades {
  width: 100px;
  height: 100px;
  background-color: #8d4934;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.sobremi .col .contenedor-habilidades .habilidades:hover {
  background-color: #95a1af;
}

.sobremi .col .contenedor-habilidades .habilidades i {
  font-size: 30px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 35px;
}

.sobremi .col .contenedor-habilidades span {
  font-family: "Oswald";
  font-weight: 00;
  position: absolute;
  bottom: 15px;
}
